* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 14px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

body {
    height: auto;
    margin: auto;
}

a {
    color: #fff;
}

button, input {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_regis,
.btn_login,
.btn_pay {
    background-color: #ff6600;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

/* =========    HEADER  ===========*/
#main_header {
    background-color: #ff6600;
}

#main_header a {
    color: #fff;
}

#main_header a:hover {
    color: #000;
}


/*========  BODY    ========*/
#main_body {
    height: auto;
    background-color: #f5f5f5;
}

#main_body .product {
    margin: auto;
}

#main_body .product p,
#main_body .title_detail {
    width: 235px;
    font-size: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6600;
    border-bottom: 2px solid #000;
}

#main_body .product .product_item {
    background-color: #fff;
    margin-bottom: 20px;
    transition: .2s ease;
}

#main_body .product .product_item:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    /*transform: scale(1.01);*/
}

#main_body .product h5 a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #000;
    text-decoration: none;
}

#main_body .product h5 a:hover {
    color: #ff6600;
}

#main_body .product .row span {
    text-align: center;
    display: block;
    color: #ff6600;
    font-size: 16px;
}

/*========  FOOTER  ========*/
#main_footer {
    background-color: #c5cccc;
}

#main_footer h4 {
    color: #ff6600;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

#main_footer span, i {
    color: #000;
}

#main_footer a {
    text-decoration: none;
    line-height: 30px;
}

#main_footer .copy_right p {
    padding: 15px 0;
    border-top: 1px solid #687577;
    color: #1b1e21;
}

.icon {
    text-align: center;
    padding: 3px;
    background: rgba(255, 235, 205, 0.8);
    margin-top: 1px;
}

.icon i {
    color: #ff6600;
    padding: 5px;
    font-size: 14px;
}

.icon:hover i {
    color: #5a6268;
}

.discountt {
    color: #fff;
    background-image: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
    display: inline-flex;
    margin-bottom: .5rem;
    font: 14px Helvetica, Arial, Freesans, sans-serif;
    position: absolute;
    top: 56%;
    left: 5%;
    border-radius: 2px;
    padding: 0 5px;
}

.frame {
    padding-left: 7px;
    padding-right: 7px;
}

.cotain_icon {
    position: absolute;
    top: 0;
    right: 7px;
    display: none;
}

#main_body .product .product_item:hover .cotain_icon {
    display: block;
}

.listProduct_item {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fa-tags {
    color: #f8d7da;
}

@media (min-width: 960px) {
    .col-1-5 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 960px) {
    .col-1-5 {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .advertise {
        display: none;
    }
}

.discountt1 {
    color: #fff;
    background-image: linear-gradient(-90deg, #ec1f1f 0%, #ff9c00 100%);
    display: inline-flex;
    margin-bottom: .5rem;
    font: 14px Helvetica, Arial, Freesans, sans-serif;
    position: absolute;
    top: 60%;
    left: 7%;
    border-radius: 2px;
    padding: 0 5px;
}

.cotain_icon1 {
    position: absolute;
    top: 0;
    right: 15px;
    display: none;
}

.product_item:hover .cotain_icon1 {
    display: block;
}

/* Đánh giá sản phẩm*/
.star_detail {
    color: #9fcdff;
    font-size: 25px;
}

.star {
    color: #9fcdff;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating > i:hover ~ i:before,
.rating > i:hover:before {
    color: darkorange;
    cursor: pointer;
}